 body{
 	background-image:url('../images/icons/CandyStore.jpg');
 	background-size:1200px 1200px;
 	background-position: absolute;
 	background-attachment: fixed;
	background-repeat:no-repeat;
    /*font-family: Arial, Verdana, sans-serif;*/
    font-family: Monospace;
    margin:0;
    padding:0;
 }

  
 
 input,label {
 	display: block;
 }
 
 
 h1 {
 	font-size:2em;
 	color: green;
 }
 
 h2{
 	font-size:1em;
 	color: blue;
 }

 #header{
 	text-align:center;
    font-size:12px;
/*	width: 700px;
	height: 50px;*/
 }
 
 #header > h1 {
 	text-align:center;
 }
 
 #main{
 	position: absolute;	
 	margin-left: 50px;
 	margin-right:50px;
 	background: white;
 	background-color: rgba(255,255,255,.7);
 	border:2px solid black;


 }


